/* Styling for the Layout */

.navbar {
	position: fixed;
	color: white;
	background-color: rgb(0, 0, 0);
	margin-left: 15%;
	width: 100%;
}

a {
	font-family: 'Dekko';
	font-size: 130%;
}

.logo {
	width: 3%;
}

.app_title {
	margin-left: -80%;
}

@media screen and (max-width: 900px) {
	.app_title {
		margin-left: -70%;
	}
	@media screen and (max-width: 600px) {
		.logo {
			width: 10%;
		}
		.app_title {
			margin-left: 0%;
		}
	}
}
.av_channel {
	position: fixed;
	display: block;
	background-color: black;
	color: white;
	padding-top: 1%;
	padding-bottom: 5%;
	padding-left: 1%;
	padding-right: 0%;
	margin-top: 0%;
	margin-bottom: 10%;
	margin-right: 0%;
	margin-left: 0%;
	width: 15%;
	height: 100%;
	.channel_btn_list {
		width: 95%;
		margin-top: 1%;
		border: none;
		background-color: rgba(255, 166, 0, 0.673);
		font-weight: bold;
		font-family: 'Nova Flat';
		font-size: 110%;
	}

	.create_new_channel {
		margin-bottom: 2%;
	}

	#new_channel_name {
		margin-bottom: 2%;
	}
}
.chat_box {
	margin-top: -1.5%;
	margin-left: 4%;
	margin-right: 0%;
	.card_box_chat {
		margin-top: 1%;
		margin-right: 0%;
		margin-bottom: 1%;
		background-color: rgb(255, 255, 255);
	
		label {
			margin-left: 1%;
			font-family: "Gruppo";
			font-weight: bold;
			font-size: 120%;
		}
	
		.time-left {
			margin-left: 1%;
		}
	
		.card-text {
			margin-left: 2%;
			padding-right: 1%;
			font-family: 'Didact Gothic';
			font-weight: bold;
		}
		pre {
			overflow-x: auto;
			white-space: pre-wrap;
			white-space: -moz-pre-wrap;
			white-space: -pre-wrap;
			white-space: -o-pre-wrap;
			word-wrap: break-word;
		}
	}
}

.form_inputs {
	display: block;
	padding-bottom: 1%;
	padding-left: 15.5%;
	background-color: black;
	width: 100%;
	bottom: 0%;
	position: absolute;

	.input_fields {
		padding-top: 0.5%;
		width: 89%;
		height: 50%;
		#message_text {
			width: 90%;
		}
	}

	#send_msg {
		color: red;
		position: absolute;
		margin-left: 68%;
		margin-top: -1.9%;
		padding-left: 1%;
		padding-right: 1%;
	}

	h6 {
		color: white;
	}
}
