/* Styling for login page */
.log_box {
  padding-top: 6%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 0%;
  margin-right: 30%;
  margin-left: 30%;
  background-color: rgba(0, 0, 0, 0.712); }

.log_box h4, .log_box p {
  color: white; }

.log_box button {
  margin-top: 1%;
  width: 100%; }
.log_box button:hover {
  background-color: gray; }

@media screen and (max-width: 425px) {
  .log_box {
    padding-top: 6%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0%;
    margin-right: 5%;
    margin-left: 38%;
    background-color: rgba(0, 0, 0, 0.712); }

  .log_box h4, .log_box p {
    color: white; }

  .log_box button {
    margin-top: 5%;
    width: 100%; }
  .log_box button:hover {
    background-color: gray; } }
