{% extends "layout.html" %}

{% block title %}
	Login
{% endblock %}

{% block main %}
	<!-- index CSS -->
	<link href="/static/login_styling.css" rel="stylesheet">

	<div class='log_box'>
		<h4>Welcome To Chatter</h4>
		<p>Please enter a username to be used.</p>
		<p style="color: red;">{{message}}</p>
		<form method="POST">
			<input type='text' name='username' id='username' placeholder='Username 1-12 long' minlength="1" maxlength="12" class='form-control' required>
			<button class='btn btn-dark' type='submit' onclick='login_btn()'>Use</button>
		</form>
	</div>
{% endblock %}